ul {
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(24, 24, 26);
  }
  
  li {
    float: left;
    border-right: 2px solid #bbb;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  li:last-child {
    border-right: none;
  }